.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 40px 0 0;
    background-color: white;
    min-height: calc(100vh - 80px);
    width: 310px;
    z-index:600;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.pp {
    width: 60px;
    height: 60px;
}

.hello {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #585555;
    opacity: 0.8;
    margin: 0;
    padding-top: 10px;
    padding-left: 21px;
}

.username {
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding-left: 20px;
}

hr.divider {
    color: #A3A8A8;
    opacity: 0.4;
    margin: 25px 15px 40px 15px;
}

.usercard {
    display: flex;
    margin: 0;
    justify-content: center;
}

.sidelinks {
    margin-bottom: -18px;
    margin-left: 20px;
    text-decoration: none;
    font-size: 17px;
    color: #585555;
    opacity: 0.8;
    font-weight: 500;
    padding: 10px 0px 10px 20px;
    width: 275px;
}

.sidelinks:hover {
    color: #4468E2;
    opacity: 1;
    background-color: #f7f7f7;
    border-radius: 10px 0px 0px 10px;
}

.sidelinks:active {
    color: blue;
    opacity: 1;
    background-color: #f7f7f7;
    border-radius: 10px 0px 0px 10px;
}